.yz_t{ background:url("yz_t.png") top left no-repeat; }
.火狐截图_2018-12-21T11-59-11_603Z_r4_c4{ width:147px; height:80px; background-position:-10px -10px; }
.火狐截图_2018-12-21T11-59-11_603Z_r2_c2{ width:14px; height:13px; background-position:-10px -100px; }

